.yellowBtn {
  padding: 12px 26px;
  height: 40px;
  background: rgb(255, 178, 0);
  box-shadow: 0px 2px 6px rgba(144, 142, 142, 0.17);
  border-radius: 20px;
  color: #332929;
  border: none;

  &:hover{
    background: #ff8e00;
    color: #332929;
  }
  &:active{
    color: #332929;
  }
}

.greenBtn{
  padding: 12px 26px;
  height: 40px;
  background: rgb(0, 190, 118);;
  box-shadow: 0px 2px 9px rgba(255, 178, 0, 0.17);
  border-radius: 20px;
  color: #fff;
  border: none;

  &:hover{
    background: rgb(0, 122, 76);;
    color: #fff;
  }
  &:active{
    color: #fff;
  }
}

.grayBtn {
  padding: 12px 26px;
  height: 40px;
  color: #332929;
  background: rgb(248, 245, 245);
  box-shadow: 0px 2px 6px rgba(144, 142, 142, 0.17);
  border-radius: 20px;
  border: none;
  &:hover{
    background: rgb(255, 178, 0);
    color: #332929;
  }
  &:active{
    color: #332929;
  }
}