
/* 用于详情页的小表格的样式 */
.detailTable{
  /* 表头行样式 */
.headerClass {
 font-size: 13px;
 font-family: PingFangSC, PingFangSC-Medium;
 font-weight: 500;
 color: #887e7e;
 th {
   background-color: #f8f6ee;
 }
}

/* 斑马纹 */
.el-table--striped {
 background-color: #fafafa;
}

/* hover高亮 */
.hover-row:hover {
 td {
   background-color: #fdf6e2 !important;
 }
}

/* 排序 */
.ascending i.sort-caret.ascending{
 border-bottom-color:#FFB200 !important
}
.descending i.sort-caret.descending{
 border-top-color:#FFB200 !important
}
}

/* 应用在常规页面主要表格上的样式 */
.mainTable {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 6px 0 rgb(144 142 142 / 17%);

  /* actBox样式 */
  .actBox {
    padding: 20px 30px;
  }

  .el-table {
    font-size: 13px;
    color: black;
  }

  /* 列通用样式 */
  .colClass {
  }

  /* 表头行样式 */
  .headerClass {
    font-size: 13px;
    font-family: PingFangSC, PingFangSC-Medium;
    font-weight: 500;
    color: #887e7e;
    th {
      background-color: #f8f6ee;
    }
  }

  /* 斑马纹 */
  .el-table--striped {
    background-color: #fafafa;
  }

  /* hover高亮 */
  .hover-row:hover {
    td {
      background-color: #fdf6e2 !important;
    }
  }

    /* 排序 */
    .ascending i.sort-caret.ascending{
    border-bottom-color:#FFB200 !important
  }
  .descending i.sort-caret.descending{
    border-top-color:#FFB200 !important
  }

  /* 操作列样式 */
  .rowActs{
    display: flex;
    justify-content: space-evenly;
    a{
      color: #FFB200;
      // margin-right: 10px;
      &:hover{
        color: #ff8e00;
      }
    }
  }
}