// sidebar
$menuText:#887E7E;
$menuActiveText:#000;
$subMenuActiveText:#FFC12F; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#fff;
$menuHover:#FFFFFF;
$MenuActiveBg:#FFF6E2; //https://github.com/ElemeFE/element/issues/12951


$subMenuBg:#FFFFFF;
// $subMenuActiveBg:#FFF6E2; //https://github.com/ElemeFE/element/issues/12951
$subMenuHover:#FFFFFF;

$sideBarWidth: 226px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  MenuActiveBg: $MenuActiveBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
