.shadowDialog{
  .el-dialog__body{
    background: #f9f9f9;
      border: 1px solid #eaeaea;
      border-radius: 4px;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 23px;
      padding: 21px 20px 14px 21px;
}
}